* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
body {
  background-color: #e9e9e9;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1013px;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.menu {
  display: flex;
  padding: 20px 30px;
  align-items: flex-start;
  gap: 20px;
  background-color: #ffff;
  border-radius: 40px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
.tools {
  display: flex;
  align-items: flex-start;
}
.language {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
.contact {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background: #fff;
}
.icon {
  width: 24px;
  height: 24px;
}
